{% extends "base.html" %}
{% load static %}
{% block content %}
<section>
    <div class="container">
        <br>
        <h3 class="custom-title">ATENCIÓN ⚠️</h3>
        <p class="custom-title">
            Esta aplicación no es una guía definitiva para la elección de una carrera universitaria, 
            está creada nada más con fines académicos, basadas en los rasgos de personalidad del modelo OCEAN con algunas carreras de referencias.
        </p>
        <h1 class="custom-title">{{userName}}, estos son los detalles de los rasgos de personalidad basados en tu puntuación:</h1>
        <div class="mt-4">
            <br>
            {{ html_content|safe }}
        </div>
        <hr>
        <p class="custom-title">¿Quieres conocer más sobre la aplicación y su funcionalidad?</p>
        <div style="display: flex; justify-content: center; align-items: center;">
            <a class="btn btn-success custom-btn" href="{% url 'funcion-de-calculo' %}"target="_blank">Ver más</a>
        </div>
        <br>
    </div>
</section>
{% endblock %}