{% extends "base.html"%}
{% load static %}
{% block content%}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md d-flex align-items-center">
                <img src="{% static 'img/background.png' %}" alt="Mi Vocación Ideal" class="img-fluid">
            </div>
            <div class="col-md d-flex align-items-center">
                <div class="text-center">
                    <br>
                    <h1 class="custom-title">¡Descubre tu vocación <br>de una forma divertida y gratis!</h1>
                    <a class="btn btn-success custom-btn" href="{% url 'registration' %}">Empezar ahora</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}