{% extends "base.html" %}
{% load static %}
{% block content%}
<section>
    <div class="container">
        <div class="row" style="padding: 10px;">
            <h1 class="home-title">¡Registrate para iniciar el test!</h1>
        </div>
        <div class="row justify-content-center" style="padding: 5%;">
            <p class="home-title">Selecciona tu avatar</p>
            <div class="col-auto text-center">
                <div class="d-flex align-items-center">
                    <img src="{% static 'img/bob-avatar.png' %}" alt="Bob" width="170px">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioButtonBob" id="btBob">
                        <label class="form-check-label" for="btBob">
                            Bob
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-auto text-center">
                <div class="d-flex align-items-center">
                    <img src="{% static 'img/alice-avatar.png' %}" alt="Alice" width="170px">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioButtonAlice" id="btAlice">
                        <label class="form-check-label" for="btAlice">
                            Alice
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form>
                    <div class="row">
                        <div class="form-group">
                            <input type="text" class="form-control" id="userName" placeholder="Ingresa tu nombre">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group" style="text-align: right;">
                            <button type="submit" class="btn btn-primary custom-btn">Siguiente</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}