:root {
    --primary-color: #e4e4e4;
}

body {
    background-color: var(--primary-color) !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.custom-title {
    color: black;
    text-align: center;
}

.custom-btn {
    font-size: 20px !important;
    padding: 5px 15px !important;
}

.navbar {
    background-color: #222831;
}

.footer {
    background: #0E1218;
    padding: 0.5em 0;
    color: white;
    text-align: center;
    margin-top: auto;
}

.progress-bar.animated {
    animation: progressAnimation 3s linear infinite;
}

@media (max-width: 767px) {
    .next-btn {
        margin-top: 50px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .next-btn {
        text-align: right;
    }
}

@keyframes progressAnimation {
    0% { width: 0%; }
    100% { width: 100%; }
}

.likert-scale {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.likert-item {
    flex: 1;
    text-align: center;
    margin: 5px;
}

.likert-item label {
    display: block;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 0 2px;
}

.likert-item label:hover {
    background-color: #f0f0f0;
}

.likert-item input[type="radio"] {
    display: none;
}

.likert-item label:hover {
    background-color: #f0f0f0;
}

#likert1:checked + label { background-color: #ff2600; color: #fff; }
#likert2:checked + label { background-color: #ffa500; color: #fff; }
#likert3:checked + label { background-color: #ffff00; }
#likert4:checked + label { background-color: #90ee90; }
#likert5:checked + label { background-color: #008000; color: #fff; }

@media (max-width: 768px) {
    .likert-item {
        flex: none;
        width: 100%;
        margin: 5px 0;
    }
}

#loaderSection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi transparente */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #008000;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
.career-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    background-color: #0080642c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}